<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1GtMDrJfEeWCYohtCCFtu4KFNbPl2Lnw</string>
	<key>GCM_SENDER_ID</key>
	<string>503957087952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiSecretary</string>
	<key>PROJECT_ID</key>
	<string>ai-secretary-5d72e</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-secretary-5d72e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503957087952:ios:8c9c83e110df9e41e760d5</string>
</dict>
</plist>